/* место для вашего кода */
.header {
   /* min-height: 293px; */
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    background-color: aqua;
    padding: 92px 50px 96px 50px; 




}

.header__links-list {
    display: flex;
    gap: 34px;
    list-style-type: circle;
    padding: 1px 0 0 2px;
    margin: 0;
}

.header__links-list-item {
font-family: Raleway;
font-size: 18px;
font-weight: normal;
text-underline-offset: 4px;
}

.header__links-list-item_no-bullit {
    list-style-type: none;
} 

.header_logo {
    display: block;
    width: 138px;

}

.contacts {
    display: flex;
    max-width: 240px;
    justify-self:end;
    font-family: Raleway, sans-serif;
    font-style: normal;
    line-height: 24px;
    text-underline-offset: 4px;
   
}

.cover {
 
    background-image: url(../images/cover.jpg);
    background-size: cover;
    height: 757px;
    

.cover__title {
font-family: Raleway, sans-serif;
font-size: 100px;
color: #fff;
position: absolute;
text-transform: uppercase;

}

.cover__title-left {

position: absolute;
top: 165px;
left: 50px;

}

.cover__title-center{
    position: absolute;
    top: 300px;
    left: 380px;

}

.cover__title-right {
position: absolute;
top: 435px;
left: 663px;
}